body  {
  background-color: #fff;
}

header {
  background-color: #212529;
}

main {
  background-color: #212529;
  color: #d2d2d2;
}

.powder-blue  {
background-color: #e6ffff;
color: #005975;
}

.blue-green {
  background-color: #005975;
}

section {
  padding-bottom: 1rem;
}

h3  {
  padding-top: 10px;
}

.card-header  {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #1e2b2f;
  color: #d2d2d2;
}

.card-body  {
  background-color: #2B3035;
  color: #d2d2d2;
  margin-top: 0px;
  padding-top: 0px;
}

.card-body>ul>li {
  background-color: #2B3035;
  color: #d2d2d2;
}

.card-container {
  width: 100%;
}

.grey {
  background-color: #2B3035;
}

.powder-blue>div>div>a {
  color: #2B3035;
  text-decoration: none;
}

svg {
  margin-right: 10px;
}

footer  {
  color: #d2d2d2;
}

.btn-dark {
  background-color: #1e2b2f;
}

hr  {
  border-color: #1e2b2f;
}